:host(togostanza-pagination-table) .clinical-significance::before {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
  margin-right: 3px;
  text-align: center;
  width: 18px;
  height: 18px;
  line-height: 20px;
}

:host(togostanza-pagination-table) .clinical-significance[data-value="P"]::before {
  content: "P";
  background-color: #ffeeed;
  border-color: #ff5a54;
  color: #ff5a54;
}

:host(togostanza-pagination-table) .clinical-significance[data-value="LP"]::before {
  content: "LP";
  background-color: #ffeeed;
  border-color: #ff5a54;
  color: #ff5a54;
}

:host(togostanza-pagination-table) .clinical-significance[data-value="US"]::before {
  content: "US";
  background-color: #f9f9f3;
  border-color: #bbba7e;
  color: #bbba7e;
}

:host(togostanza-pagination-table) .clinical-significance[data-value="LB"]::before {
  content: "LB";
  background-color: #f3f9e6;
  border-color: #9dcf3a;
  color: #9dcf3a;
}

:host(togostanza-pagination-table) .clinical-significance[data-value="B"]::before {
  content: "B";
  background-color: #e7fef2;
  border-color: #04af58;
  color: #04af58;
}

:host(togostanza-pagination-table) .clinical-significance[data-value="DR"]::before {
  content: "DR";
  background-color: #fff7cf;
  border-color: #9c8200;
  color: #9c8200;
}

:host(togostanza-pagination-table) .clinical-significance[data-value="O"]::before {
  content: "O";
  background-color: #fff;
  border-color: #94928d;
  color: #94928d;
}

:host(togostanza-pagination-table) .clinical-significance[data-value="NP"]::before {
  content: "NP";
  background-color: #fff;
  border-color: #94928d;
  color: #94928d;
}
